<section style="background-color: #eee; height:100vh; ">
<p class = "comm-title">Welcome to GarbanzoAI</p>
<div class = "comm-text">
<p>Generate your own images using the DALL-E image generator from OpenAI. You can save your images to your own profile, or you can share them with the community. If you share your images with the community, they will display below for everyone to see.</p>
</div>
<p class = "comm-title">Community Images</p>

{{#each pic}}
<div>
<p>{{photos}}</p>
    <img src = {{picture}} />
</div>
{{/each}}
</section>