<div class="row">
    <div class="col-4"><input placeholder="enter to search image" id="term"/></div>

    <div class="col-4">
        <select name="picsize" id="pic-size">
            <option value="">--Please choose image Size--</option>
            <option value="256x256">Small</option>
            <option value="521x521">Medium</option>
            <option value="1024x1024">Large</option>

        </select>
    </div>
    <div class="col-4">
        <button id="serchImg">Search Image</button>
    </div>
</div>

<script src='/js/imagesearch.js'></script>
