<div class="full-page">
<div class="container" style="padding-top: 100px;">
  <div class="row">
    <div class="col-4"><input
        placeholder="Enter to Search Image"
        id="term"
      /></div>

    <div class="col-4">
      <select name="picsize" id="pic-size">
        <option value="">--Please Choose Image Size--</option>
        <option value="256x256">Small</option>
        <option value="512x512">Medium</option>
        <option value="1024x1024">Large</option>

      </select>
    </div>
    <div class="col-4">

      <button class="btn-chg" id="searchImg">Search Image</button>
    </div>
    {{!-- <div>
      <img src={{image.photo}} />
    </div> --}}

  </div>
  <div class="">
    {{!-- <div class="col-2"></div> --}}
    <div class="image-style">
        <img id="image" src="/images/home.png" width="200px" height="200px" />
    </div>
    {{!-- <div class="col-2"></div></div> --}}
</div>
<div class="text-center">
  {{!-- <div class="col-4"></div>
  <div class="col-4"></div> --}}
 <div classs="btn-placement">
  <button class="btn btn-info">Save Image</button>
  <button class="btn btn-danger">Delete</button>
</div>
</div>
</div>

<script src="/js/imagesearch.js"></script>