

<div class="container" style="padding-top: 100px;">
  <div class="row">
    <div class="col-4"><input placeholder="enter to search image" id="term"/></div>

    <div class="col-4">
        <select name="picsize" id="pic-size">
            <option value="">--Please choose image Size--</option>
            <option value="256x256">Small</option>
            <option value="521x521">Medium</option>
            <option value="1024x1024">Large</option>

        </select>
    </div>
    <div class="col-4">
        <button id="serchImg" class="btn btn-primary border-bottom-0">Search Image</button>
    </div>
    
</div>
<div class="row">
    <div class="col-2"></div>
   <div class="col-8"><img id="image" src='/images/home.png'width="50%"/> </div> 
      <div class="col-2"></div></div> 
</div>
<div class="row text-center">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4"><button class='btn btn-info'>Save Image</button></div>
    <div class="col-4"><button  class='btn btn-danger'>Delete</button></div>
    
</div>



<script src='/js/imagesearch.js'></script>
