<p>This is the images page.</p>

{{#each images as |image|}}
    <div class="row align-center mb-6 border">
        <div class="col-md border">
            <img src="{{image.url}}"/>
        </div>

    </div>

{{/each}}
