

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.btn-chg {
  text-decoration: none;
  border: 2px solid rgb(209, 17, 17);
  padding: 4;
  background-color: rgb(0, 154, 77);
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.image-style {
  /* border: 10px solid black; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#image {
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  margin-left: auto;
  margin-right: auto;
}

.full-page {
    background-color: white;
    height: 100vh;
}

.btn-placement {
    
    /* display: flex;
    justify-content: center;
    align-items: center; */

    left:50%;
    top: 20px;
}

.text-center {
    margin-top: 20px;
}

.logo {
  max-width: 200px;
}

.head-btn {
  align-items: center;
  padding: 5px 8px 8px 8px;
  background-color: #d8363a;
  color: white;
  border-radius: 6px;
  margin-right: 20px;
  margin-top: 50px;
  
}



.head {
display: flex;
justify-content: space-between;
background-color: #eee;

}

.comm-title {
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  
}

.comm-text {
  max-width: 35%;
  margin-left: 50px;
  background-color: #eee;
  border-radius: 15px;
  padding: 10px;
  margin-top: 50px;
}

.comm-img {
display: flex;
margin-left: 15px;
flex-wrap: wrap;

}

.comm-pic {
  margin: 8px;
  border: 3px solid black;
  padding: 5px;
  max-width: 256px;
}

.move {
  margin-top: 20px;
}